.cece {
    width: 100%;
    display: flex;
    height: 80dvh;
    justify-content: space-between;
    align-items: center;
}

.cece .kiri {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 20px;
}

.cece .kiri .icon:hover {
    transition: all ease 0.2s;
    transform: translateY(-3px);
    cursor: pointer;
}

.cece .kiri .icon2:hover {
    transition: all ease 0.2s;
    transform: translateY(-3px);
    cursor: pointer;
}


.cece .tengah {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.cece .tengah .satu {
    font-weight: 700;
    font-size: 3rem;
}

.cece .tengah .dua {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.cece .tengah .dua span {
    height: 2px;
    width: 70px;
    background-color: var(--colordua);
}

.cece .tengah .empat {
    gap: 10px;
    display: flex;
}

.cece .tengah .empat button {
    height: 50px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorsatu);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cece .tengah .empat button:hover {
    transition: all ease 0.2s;
    transform: translateY(-3px);
    cursor: pointer;
}

.cece .kanan {
    width: 40%;
}

.cece .kanan .shape {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0.4s;
}

.cece .kanan .bgcover {
    margin: auto;
    height: 350px;
    width: 100%;
    background-image: url("http://localhost:3000/bg.png");
    -webkit-animation: liquid 7s ease-in-out infinite;
    animation: liquid 7s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: var(--colorgrey);
}

@keyframes liquid {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;

    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

    }
}


@media (min-width: 320px) and (max-width: 767px) {

    .cece {
        height: auto;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 20px 0;
    }

    .cece .kiri {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: center;
        display: none;
    }

    .cece .tengah {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cece .tengah .satu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .cece .tengah .dua {
        display: flex;
        justify-content: center;
    }

    .cece .tengah .tiga {
        text-align: center;
    }

    .cece .tengah .empat {
        display: flex;
        justify-content: center;
    }

    .cece .kanan {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .cece .kanan .bgcover {
        height: 300px;
        width: 80vw;
        background-size: contain;
    }
}