.scrool {
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.scrool:hover .icon {
    transition: all ease 0.2s;
    transform: translateY(3px);
}

@media (min-width: 320px) and (max-width: 767px) {
    .scrool {
        display: none;
    }
}