.footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: var(--colorgrey);
    font-weight: 500;
}

.footer .kanan {
    display: flex;
    gap: 10px;
}

.footer .kanan .icon:hover {
    transition: all ease 0.2s;
    transform: translateY(-3px);
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer .kanan {
        justify-content: center;
    }
}