.header {
    display: flex;
    justify-content: space-between;
}

.header .kiri {
    font-weight: 700;
}

.header .kanan ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 600;
}

.header .kanan ul li a {
    cursor: pointer;
    position: relative;
}

.header .kanan ul li a::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: -10px;
    width: 0;
    background: var(--colordua);
    transition: width .2s;
}

.header .kanan ul li a:hover::after {
    width: 100%;
}


@media (min-width: 320px) and (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .header .kanan ul {
        justify-content: center;
    }
}